@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  color: #000;
  font-family: "Open Sans";
  font-weight: normal; }

body {
  line-height: 1.42;
  font-family: 'PT Sans', sans-serif; }

a {
  transition: 300ms;
  text-decoration: none;
  color: #505050; }
  a:hover, a:focus {
    color: #000; }

ul {
  margin: 0px;
  padding: 0px; }

li {
  margin: 0;
  padding: 0; }

button {
  cursor: pointer; }

.container {
  margin: 0 auto;
  max-width: 1200px; }
  @media screen and (max-width: 320px) {
    .container {
      margin: 0 auto;
      max-width: 320px; } }

.button {
  font-weight: bold;
  font-size: 13px;
  color: #ffffff;
  width: 250px;
  height: 60px;
  background: #f26522; }
  @media screen and (max-width: 768px) {
    .button {
      margin-bottom: 20px; } }
  @media screen and (max-width: 320px) {
    .button {
      margin-bottom: 20px; } }

.button:hover:active:focus {
  background: #000;
  color: #8e0000;
  border: #000; }

.header {
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 1024px) {
    .header {
      justify-content: space-around; } }
  @media screen and (max-width: 768px) {
    .header {
      flex-wrap: wrap; } }
  @media screen and (max-width: 320px) {
    .header {
      justify-content: center;
      flex-direction: column;
      align-items: center; } }
  .header-wrapper {
    background: #0072bc; }
  .header__logo {
    display: flex; }
  .header__button {
    display: flex;
    justify-content: center;
    align-items: center; }
  .header__title {
    font-weight: bold;
    color: #ffffff;
    display: flex;
    align-items: center; }
    @media screen and (max-width: 768px) {
      .header__title {
        margin-bottom: 20px;
        font-size: 20px; } }
    @media screen and (max-width: 320px) {
      .header__title {
        text-align: center;
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 20px; } }
  .header__img {
    margin: 15px 20px 15px 0px; }
    @media screen and (max-width: 320px) {
      .header__img {
        margin-bottom: 20px; } }

.main {
  display: flex;
  flex-direction: column; }
  @media screen and (max-width: 320px) {
    .main {
      flex-direction: column;
      justify-content: center;
      align-items: center; } }
  .main-first {
    text-align: center; }
    .main-first__title {
      font-size: 22px;
      font-weight: bold;
      margin: 60px 0px; }
      @media screen and (max-width: 1024px) {
        .main-first__title {
          margin: 30px 0; } }
      @media screen and (max-width: 768px) {
        .main-first__title {
          font-size: 16px;
          padding: 0 10px; } }
      @media screen and (max-width: 320px) {
        .main-first__title {
          font-size: 14px;
          text-align: center;
          margin-top: 30px;
          margin-bottom: 30px; } }
      .main-first__title_mb {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px; }
        @media screen and (max-width: 1024px) {
          .main-first__title_mb {
            margin-bottom: 40px; } }
        @media screen and (max-width: 768px) {
          .main-first__title_mb {
            margin-bottom: 25px;
            display: none; } }
        @media screen and (max-width: 320px) {
          .main-first__title_mb {
            margin-bottom: 20px; } }
    .main-first__text {
      font-size: 15px;
      margin-bottom: 50px; }
      @media screen and (max-width: 1024px) {
        .main-first__text {
          margin-bottom: 20px; } }
      @media screen and (max-width: 320px) {
        .main-first__text {
          font-size: 12px;
          text-align: center;
          margin-bottom: 20px; } }
      .main-first__text_c {
        display: flex;
        justify-content: center; }
    .main-first__subtitle {
      font-size: 15px;
      font-weight: bold;
      text-align: left;
      margin-bottom: 45px; }
      @media screen and (max-width: 1024px) {
        .main-first__subtitle {
          margin-bottom: 30px; } }
      @media screen and (max-width: 768px) {
        .main-first__subtitle {
          text-align: center; } }
      @media screen and (max-width: 320px) {
        .main-first__subtitle {
          font-size: 12px;
          margin-bottom: 20px; } }
  .main-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #acacac;
    border-radius: 10px;
    margin-right: 20px; }
    @media screen and (max-width: 768px) {
      .main-item {
        max-width: 430px; } }
    @media screen and (max-width: 320px) {
      .main-item {
        max-width: 300px;
        align-items: center;
        padding: 20px 20px;
        margin-bottom: 20px;
        margin: 0 auto; } }
    .main-item-el {
      margin-bottom: 45px; }
    .main-item__wrapper {
      display: flex;
      flex: 0 1 auto;
      padding: 0 10px; }
      @media screen and (max-width: 768px) {
        .main-item__wrapper {
          flex-wrap: wrap;
          justify-content: center;
          align-items: center; } }
      @media screen and (max-width: 320px) {
        .main-item__wrapper {
          flex-direction: column;
          flex-wrap: wrap; } }
    .main-item__title {
      font-weight: bold;
      color: #8e0000;
      margin-bottom: 30px; }
      @media screen and (max-width: 320px) {
        .main-item__title {
          font-weight: bold;
          margin-bottom: 10px; } }
    .main-item__text {
      text-align: center;
      color: #b2b2b2;
      padding: 0 10px;
      margin-bottom: 45px; }
      @media screen and (max-width: 320px) {
        .main-item__text {
          margin-bottom: 15px; } }
    .main-item__link_active {
      font-weight: bold;
      color: #06811a; }
    .main-item__link {
      font-weight: bold;
      margin-bottom: 10px; }
    .main-item__img {
      max-width: 100%;
      padding: 0px 15px; }
      @media screen and (max-width: 320px) {
        .main-item__img {
          padding: 0px 35px;
          margin-bottom: 10px; } }
    .main-item__sushi-set {
      max-width: 100%; }
      @media screen and (max-width: 1024px) {
        .main-item__sushi-set {
          display: none; } }
      @media screen and (max-width: 320px) {
        .main-item__sushi-set {
          max-width: 300px;
          margin-bottom: 20px;
          margin: 0 auto;
          padding-bottom: 10px; } }

.info-wrapper {
  background: #6dcff6; }

.info__title {
  color: #fff;
  font-weight: bold;
  padding-top: 80px;
  padding-bottom: 60px;
  text-align: center; }
  @media screen and (max-width: 1024px) {
    .info__title {
      padding-top: 40px;
      padding-bottom: 30px; } }
  @media screen and (max-width: 768px) {
    .info__title {
      font-size: 16px; } }
  @media screen and (max-width: 320px) {
    .info__title {
      font-size: 14px;
      text-align: center;
      padding-top: 20px;
      margin-bottom: 20px;
      padding-bottom: 0px; } }

.info-slider__wrapper {
  display: flex;
  justify-content: space-between;
  min-width: 0; }
  @media screen and (max-width: 320px) {
    .info-slider__wrapper {
      max-width: 300px;
      text-align: center; } }

.info-slider .swiper-pagination {
  bottom: 70px;
  right: 500px; }

.info-slider .swiper-pagination-bullet {
  width: 45px;
  height: 45px;
  font-size: 45px;
  background-color: #fff;
  text-align: center; }
  @media screen and (max-width: 1024px) {
    .info-slider .swiper-pagination-bullet {
      display: none; } }
  @media screen and (max-width: 768px) {
    .info-slider .swiper-pagination-bullet {
      display: none; } }

.info-slider .swiper-button-prev::after,
.info-slider .swiper-button-next::after {
  position: relative;
  color: #fff;
  top: 175px;
  font-size: 45px;
  font-weight: bold; }
  @media screen and (max-width: 1024px) {
    .info-slider .swiper-button-prev::after,
    .info-slider .swiper-button-next::after {
      top: 0;
      font-size: 40px;
      color: #000; } }
  @media screen and (max-width: 768px) {
    .info-slider .swiper-button-prev::after,
    .info-slider .swiper-button-next::after {
      font-size: 25px;
      top: -15px; } }
  @media screen and (max-width: 320px) {
    .info-slider .swiper-button-prev::after,
    .info-slider .swiper-button-next::after {
      top: 0;
      font-size: 14px;
      color: #000; } }

.info-slider .swiper-button-prev::after {
  left: 435px; }
  @media screen and (max-width: 1024px) {
    .info-slider .swiper-button-prev::after {
      left: 0; } }
  @media screen and (max-width: 320px) {
    .info-slider .swiper-button-prev::after {
      left: 0; } }

.info-slider .swiper-button-next::after {
  right: 435px; }
  @media screen and (max-width: 1024px) {
    .info-slider .swiper-button-next::after {
      left: 0; } }
  @media screen and (max-width: 320px) {
    .info-slider .swiper-button-next::after {
      right: 0; } }

.image-slider {
  padding: 30px 0 70px 0; }

.image-slider__image {
  text-align: center; }

.image-slider__image img {
  max-width: 100%; }

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: transform; }

.info-slider__img {
  margin-bottom: 105px;
  max-width: 100%; }
  @media screen and (max-width: 1024px) {
    .info-slider__img {
      margin-bottom: 40px;
      max-width: 768px;
      margin: 0 auto;
      padding: 0 10px; } }
  @media screen and (max-width: 768px) {
    .info-slider__img {
      max-width: 480px;
      padding: 0 10px;
      margin: 0 auto; } }
  @media screen and (max-width: 478px) {
    .info-slider__img {
      max-width: 320px; } }
  @media screen and (max-width: 320px) {
    .info-slider__img {
      max-width: 310px;
      margin: 0 auto;
      margin-bottom: 20px; } }

.footer {
  text-align: center;
  font-weight: bold;
  color: #333333;
  padding: 25px 0; }
  @media screen and (max-width: 320px) {
    .footer {
      padding: 10px 0; } }

.swiper_pb {
  padding-bottom: 130px; }
  @media screen and (max-width: 1024px) {
    .swiper_pb {
      padding-bottom: 50px; } }
  @media screen and (max-width: 320px) {
    .swiper_pb {
      padding-bottom: 0px; } }
